.poll_page_white_box {
    background-color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 59.5vw;
    height: 900px;
    margin-bottom: 15vw;
}


.poll_page_white_box_header {
    position: relative;
    height: 4vw;
}

.comments_box {
    position: relative;
    height: 8vw;
    flex: 1;
}

#CommentBox {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-width: 4px;
    border-color:white;
    border-radius: 100px;
    text-align:start;
    position: relative;
    bottom: 70px;
    width: 50vw;
    height: 100px;
    
}

#create_message{
    left: 20%;
}
#backarrow-pollpage {
    position: relative;
    top: 0.5vw;
    height: 2.2vw;
}

.poll_page_title_id {
    position: absolute;
    text-align: center;
    width: 80%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#poll_page_poll_title {
    position: relative;
    font-size: 2vw;
    text-decoration: underline;
    font-weight: 700;
    color: white;
}

#comments_title {
    position: relative;
    font-size: 2vw;
    text-decoration: underline;
    font-weight: 700;
    color: white;
}

.poll_page_chart_box {
    position: relative;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 30vw;
    height: 600px;
    border: 1px solid black;
    padding: 0.5vw;
}

.poll_page_vote_option_1 {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 100px;
    bottom: -2vw;
    height: 3vw;
    width: 14vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.6vw;
    cursor: pointer;
}

.poll_page_vote_option_2 {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 100px;
    bottom: -2vw;
    height: 3vw;
    width: 14vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.6vw;
    cursor: pointer;
    float: right;
}

.like_count_id {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 10vw;
    bottom: -10%;
    text-align: center;
}

#poll_page_like_count {
    position: relative;
    font-size: 1.5vw;
}

.poll_page_white_box_footer {
    position: absolute;
    text-align: center;
    height: 5vw;
    width: 100%;
    bottom: 5%;
}
.submit_button {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 50px;
    bottom: 1vw;
    height: 3vw;
    width: 10vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.6vw;
    cursor: pointer;
}

.submit_button2 {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 50px;
    bottom: 1vw;
    height: 3vw;
    width: 10vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.3vw;
    cursor: pointer;
}
.poll_page_comment_button {
    position: relative;
    left: 1vw;
    top: 50%;
    transform: translate(0%, -50%);
    height: 3vw;
    width: 15vw;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 0.1vw;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.6vw;
    cursor: pointer;
}

.poll_page_like_button {
    position: relative;
    right: 1vw;
    float: right;
    top: 50%;
    transform: translate(0%, -50%);
    height: 3vw;
    width: 15vw;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 0.1vw;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.6vw;
    cursor: pointer;
    text-align: center;
}

#poll_page_heart {
    position: relative;
    top: 50%;
    transform: translate(0%, -60%);
    float: left;
    margin-left: 0.3vw;
    height: 1.6vw;
}

#like_button_text {
    position: relative;
    margin-left: -5%;
}

@media only screen and (max-width: 1200px) {
.poll_page_white_box {
    background-color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%, 8%);
    width: 80vw;
    height: 1000px;
    margin-bottom: 25vw;
}

#CommentBox {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-width: 4px;
    border-color:white;
    border-radius: 100px;
    text-align:start;
    position: relative;
    width: 70vw;
    height: 100px;
    
}

.comments_box {
    position: relative;
    height: 20vw;
}

.poll_page_white_box_header {
    position: relative;
    height: 8vw;
}

#backarrow-pollpage {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    height: 4vw;
}

.poll_page_title_id {
    position: absolute;
    text-align: center;
    width: 80%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#poll_page_poll_title {
    position: relative;
    font-size: 3.8vw;
    text-decoration: underline;
    font-weight: 700;
}

.poll_page_chart_box {
    position: relative;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 60vw;
    height: 600px;
    border: 1px solid black;
    padding: 0.5vw;
}

.submit_button {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 50px;
    bottom: 1vw;
    height: 6vw;
    width: 20vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 2.6vw;
    cursor: pointer;
}

.poll_page_vote_option_1 {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 100px;
    bottom: -2vw;
    height: 4.8vw;
    width: 25vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.6vw;
    cursor: pointer;
}

.poll_page_vote_option_2 {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 100px;
    bottom: -2vw;
    height: 4.8vw;
    width: 25vw;
    background-color:black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 1.6vw;
    cursor: pointer;
    float: right;
}

.like_count_id {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 10vw;
    bottom: -10%;
    text-align: center;
}

#poll_page_like_count {
    position: relative;
    font-size: 2.5vw;
}

.poll_page_white_box_footer {
    position: absolute;
    text-align: center;
    height: 10vw;
    width: 100%;
    bottom: 0%;
}

.poll_page_comment_button {
    position: relative;
    left: 1vw;
    top: 50%;
    transform: translate(0%, -50%);
    height: 5.4vw;
    width: 28vw;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 0.1vw;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 2.6vw;
    cursor: pointer;
}

.poll_page_like_button {
    position: relative;
    right: 1vw;
    float: right;
    top: 50%;
    transform: translate(0%, -50%);
    height: 5.4vw;
    width: 28vw;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 0.1vw;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 2.6vw;
    cursor: pointer;
    text-align: center;
}

#poll_page_heart {
    position: relative;
    top: 50%;
    transform: translate(0%, -80%);
    float: left;
    margin-left: 1vw;
    height: 2.6vw;
}

#like_button_text {
    position: relative;
    margin-left: -10%;
}
}

@media only screen and (max-width: 650px) {
.poll_page_white_box {
    background-color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%, 5%);
    width: 92vw;
    height: 1000px;
    margin-bottom: 25vw;
}

.poll_page_white_box_header {
    position: relative;
    height: 12vw;
}

#CommentBox {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-width: 4px;
    border-color:white;
    border-radius: 100px;
    text-align:start;
    position: relative;
    width: 70vw;
    height: 100px;
    
}

.comments_box {
    position: relative;
    height: 28vw;
}

#backarrow-pollpage {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    height: 5.5vw;
}

.poll_page_title_id {
    position: absolute;
    text-align: center;
    width: 80%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#poll_page_poll_title {
    position: relative;
    font-size: 5.5vw;
    text-decoration: underline;
    font-weight: 700;
}

.poll_page_chart_box {
    position: relative;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 80vw;
    height: 600px;
    border: 1px solid black;
    padding: 0.5vw;
}

.submit_button {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 50px;
    bottom: 1vw;
    height: 9vw;
    width: 30vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 4.8vw;
    cursor: pointer;
}

.poll_page_vote_option_1 {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 100px;
    bottom: -2vw;
    height: 8vw;
    width: 35vw;
    background-color: black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 3.8vw;
    cursor: pointer;
}

.poll_page_vote_option_2 {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 100px;
    bottom: -2vw;
    height: 8vw;
    width: 35vw;
    background-color:black;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 3.8vw;
    cursor: pointer;
    float: right;
}

.like_count_id {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 20vw;
    bottom: -10%;
    text-align: center;
}

#poll_page_like_count {
    position: relative;
    font-size: 5vw;
}

.poll_page_white_box_footer {
    position: absolute;
    text-align: center;
    height: 20vw;
    width: 100%;
    bottom: 0%;
}

.poll_page_comment_button {
    position: relative;
    left: 1vw;
    top: 50%;
    transform: translate(0%, -50%);
    height: 8vw;
    width: 38vw;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 0.1vw;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 3.8vw;
    cursor: pointer;
}

.poll_page_like_button {
    position: relative;
    right: 1vw;
    float: right;
    top: 50%;
    transform: translate(0%, -50%);
    height: 8vw;
    width: 38vw;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 0.1vw;
    text-shadow: .1vw .2vw .3vw rgb(167, 167, 167);
    color: white;
    padding: 0.25vw;
    font-size: 3.8vw;
    cursor: pointer;
    text-align: center;
}

#poll_page_heart {
    position: relative;
    top: 50%;
    transform: translate(0%, -80%);
    float: left;
    margin-left: 1vw;
    height: 4.4vw;
}

#like_button_text {
    position: relative;
    margin-left: -10%;
}
}


#poll_options {
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 124.5%;
    right: 32.2%;
    position: relative;
    margin-left: 20%;
  
  
  }

  #poll_footer {
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 100%;
    right: 20%;
    position: relative;
    margin-left: 20%;
  
  
  }

  .pollRight {
    border-left: 3px solid rgb(255, 255, 255);
    height: 140%;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
  }
  
  .pollLeft {
    border-left: 3px solid rgb(255, 255, 255);
    height: 140%;
    position: absolute;
    right: 100%;
    margin-right: -3px;
    top: 0;
  
  }

  .commentLeft {
    border-left: 3px solid rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    margin-bottom: 100px;

  }
  
  .commentRight {
    border-left: 3px solid rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    right: 100%;
    margin-right: -3px;
    top: 0;
  
  }

  .comment_title {
    position:absolute;
    left: 20px;
    background-color: black;
    border: none;
    color: white;
    padding: 8px;
    font-size: 160%;
    cursor: pointer;
  }

  .comment_date {
    position:absolute;
    left: 20px;
    background-color: black;
    border: none;
    color: white;
    padding: 8px;
    font-size: 100%;
    cursor: pointer;
    top: 40px;
  }

  .comment_message {
    position:absolute;
    left: 20px;
    background-color: black;
    border: none;
    color: white;
    padding: 8px;
    font-size: 120%;
    cursor: pointer;
    top: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  body, h1, h2, h3, h4, h5, h6, CommentForm, feed, .comment_message {
    font-family: 'Poppins', sans-serif;
  }
  
  c, postButton {
    font-family: 'Oswald', sans-serif;
  }