#priv {
    width: 300px;
    position: absolute;
    top: 5.5%;
    left: 50%;
    margin-left: -150px;
    color: black;
    font-weight: bold;
    font-size: 170%;
}

#Box {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 36%;
    height: 87%;
    top: 7%;
    left: 50%;
    margin-left: -18%;
}

#back {
    position: absolute;
    top: 9%;
    left: 32.5%;
}

#save-button {
    width: 180px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    bottom: 10%;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 1px;
    text-shadow: 2px 2px 1px #acacac;
    color: black;
    padding: 3px;
    font-size: 28px;
    cursor: pointer;
  }

  #text {
      position: absolute;
      font-size: 140%;
      left: 34%;
      top: 18%;
      color: black;
  }

  #text1 {
    position: absolute;
    font-size: 140%;
    left: 34%;
    top: 28%;
    color: black;
}

#text2 {
    position: absolute;
    font-size: 140%;
    left: 34%;
    top: 38%;
    color: black;
}

#check1 {
    position: absolute;
    top: 31.5%;
    left: 65%;
    transform: scale(2);
}

#check2 {
    position: absolute;
    top: 40.5%;
    left: 65%;
    transform: scale(2);
}

#save-button {
    width: 180px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    bottom: 10%;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 1px;
    text-shadow: 2px 2px 1px #acacac;
    color: black;
    padding: 3px;
    font-size: 28px;
    cursor: pointer;
  }