#poll-name {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 37%;
    height: 40px;
    text-align: left;
    left: 36.57%;
    top: 385px;
    background-color: rgb(216, 216, 216);
    font-size: 150%;
    z-index: 1;
    margin-top: 3.5%;
    margin-bottom: -50%;
}
#del-post-button {
  position: relative;
  left: 69%;
  top: 484px;
  background-color: rgb(216, 216, 216);
  border: black;
  border-style: solid;
  border-width: 1px;
  text-shadow: 2px 2px 1px #acacac;
  color: rgb(214, 5, 5);
  padding: 3px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}



  #committii-logo {
    position: absolute;
    top: 2%;
    left: -3.5%;
    size: 90%;
  }

  #welcome {
    position: relative;
    top: -490px;
    text-align: center;
    font-size: 40px;
    color: white;
    z-index: 3;
  }

  #edit_prof {
    position: absolute;
    right: 24.9%;
    top: 32%;
    background-color: black;
    border: none;
    color: white;
    padding: 3px;
    font-size: 130%;
    cursor: pointer;
  }

  #edit_priv {
    position: absolute;
    right: 22.3%;
    top: 36%;
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    font-size: 130%;
    cursor: pointer;
  }

  #following {
    position: absolute;
    left: 25%;
    top: 30%;
    font-size: 130%;
    color: white;
  }

  #followers {
    position: absolute;
    left: 25%;
    top: 34%;
    font-size: 130%;
    color: white;
  }

  .Feed {
    position: relative;
    background-color: black;
    color: black;
  }

  #curr_polls_label {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 200px;
    height: 35px;
    position: relative;
    left: 3%;
    top: 0%;
    background-color: rgb(216, 216, 216);
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
  }

  .current_polls {
    position: relative;
    top: 10%;
    height: 50%;
    width: 100%;
    z-index: 1;
  }

  #view-res {
    position: relative;
    left: 61%;
    top: 1192.3px;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 1px;
    text-shadow: 2px 2px 1px #acacac;
    color: black;
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }

  #logout_button {
    width: 180px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    bottom: 2%;
    background-color: rgb(216, 216, 216);
    border: black;
    border-style: solid;
    border-width: 1px;
    text-shadow: 2px 2px 1px #acacac;
    color: black;
    padding: 3px;
    font-size: 28px;
    cursor: pointer;
    }

  .white_box {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 37%;
    height: 110%;
    top: 33%;
    left: 50%;
    margin-left: -18.5%;
  }

  .create_poll_button {
    position: absolute;
    background-color: rgb(216, 216, 216);
    border: black 1px solid;
    color: black;
    width: 5%;
    height: 9.5%;
    text-align: center;
    padding: 4px 3px 0 3px;
    font-size: 130%;
    font-weight: 600;
    left: 50%;
    top: 34%;
    margin-left: -2.5%;
    z-index: 1;
    border-radius: 50%;
  }

  .space {
    position: relative;
    background-color: black;
    width: 2%;
    height: 70%;
    top: 800px;
    left: 50%;
  }
#save-button {
  width: 180px;
  position: absolute;
  left: 50%;
  margin-left: -90px;
  bottom: 10%;
  background-color: rgb(216, 216, 216);
  border: black;
  border-style: solid;
  border-width: 1px;
  text-shadow: 2px 2px 1px #acacac;
  color: black;
  padding: 3px;
  font-size: 28px;
  cursor: pointer;
  }
  #prof_pic {
    display: flex;
    height: 140px;
    width: 140px;
    position: relative;
    top: 32%;
    left: 0%;
    border-radius: 50%;
  }
