#title {
    position: relative;
    top: -425px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

#logo_title {
    position: relative;
    top: -850px;
    text-decoration: underline;
}

#logo_desc {
    position: relative;
    top: -850px;
    font-size: 20px;
}

.logo_photo {
    position: relative;
    top: -800px;
    max-width: 600px;
    height:auto;
}

.App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  #GeneralLayout {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 25%
  }
  #SectionTitle {
    font-weight: bold;
    font-size: xx-large;
  }
  #genTitles {
    font-weight: bold;
    margin-left: 2%;
  }
  #genText{
    margin-left: 4%;
    margin-right: 25%;
  }
