.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.deletePost{
  width:100%;
}

.commentPost{
  width:100%;
}

.deleteIcon{
  background-color: black;
  float:right;
}

.settings{
  width:100%;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline:none;
}

.link-button:hover,
.link-button:focus,
.link-button:active {
  text-decoration: none;
  outline:none;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;

}

.autocomplete input {
    width: calc(300px + 1rem);
}

.autocomplete{
    min-height: 165px;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);

  display:inline-block;
  position:relative;

}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.profileform label{
   background-color: #00000000;
   display:block;

}

.general-text {
  color: rgb(0, 0, 0);
  margin-left: auto;
}

.text-box {
  border-color: #000000;
  border-radius: 20px;
  padding:10px;
  margin:20px;
  width:30%;
  display:inline-block;
  align-content:center;
}

.back-button {
  max-width: 5%;
  max-height: 5%;
  margin-left: -40%;
}

.square {
  height: 500px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display:block;
  padding-top: 200px;
  padding-bottom: 50px;
}


.App-link {
  color: #09d3ac;
}

.postlist {
  text-align: left;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  padding:30px;
  margin:10px;
  width:60%;
  display: inline-flex;
}

.userlist {
  text-align: left;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  padding:30px;
  margin:10px;
  width:60%;
  display: inline-flex;
}

.comments{
    background:black;
    width:95%;
    display:block;
    padding:3px;
    margin:10px;
    color:black;
}

.commentlist {
  text-align: left;
  background: black;
  color:white;
  border-radius: 2px;
  padding: 1em 2em;
  margin:10px;
  font-size: 13px;
  display:table;
  font-family: 'Poppins';
  border-bottom: 1px solid white;
}



.hide{
  display:none;
}


.maincontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.posts{
    display:table;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 99%;
}

.postbody{
  width:90%;
  display:table;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  font-size: 13.5px;
}

.comment-block{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidenav{
  /* need to specify some position other than static, so height can apply.
     Fixed works since it will stay fixed to the side - 0 from both left and top. */
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:100px;

  /* internally to this container, we want to use flex positioning of the menu elements */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: rgb(0, 0, 0);
}

.sidenav ul{
   list-style-type: none;
   padding:10px;
   margin:0px;
   margin-top: 40px;
}

.sidenav-icon{
  width:30px;
  height:30px;
  margin-bottom:12px;
}

.comment-indicator{
  text-align:right;
  width:100%;
  display:block;
  float:right;
  margin-top: 3px;
}

.comment-icon{
  width:30px;
  height:35px;
  float:right;
  background-color: #000000;
}

.comment-indicator-text{
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  width:120px;
  padding:5px;
  float:right;
  margin-left:10px;
  text-align: center;
}

.hide{
  display:none;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1px 10px 20px 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 200px;
}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  line-height: 42px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.navbar img {
  float: left;
  width: 5%;
  height: 5%;
  padding-top: .5%;
}
.navbar c {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
}
.navbar ld {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-right: 3%;
  padding-top: 1.8%;
  text-decoration: none;
  font-size: x-large;
}

.homebody{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.text t {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  margin-top: 35%;
  padding: 14px 16px;
  text-decoration: none;
  font-size: xxx-large;
  font-weight: bold;
}
.text b {
  display: block;
  float: left;
  text-align: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}
.homebody img {
  float: right;
  width: 45%;
  height: 45%;
  padding-top: 5.5%;
  padding-right: 2.5%;
}
.cz img {
  float: left;
  width: 100%;
  height: 100%;
  padding-top: .5%;
}
#Login {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 35%;
  background-color: white;
  width: 35%;
  height: 50%;
}
#LoginUsername{
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 1%;
}
#LoginPassword{
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 1%;
}
#SubmitButton{
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 25%;
  margin-top: 1%;
  margin-left: 36%;
  margin-bottom: 3%;
}
#ForgotP {
  color: gray;
  font-size: small;
  margin-left: 2%;
}
#LoginLabel {
  color: black;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
}
#RegisterinLog {
  color: black;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}
#LoginForm {
  width: 96%;
  height: 3em;
}

#base_rectangle {
  background-color: white;
  border-radius: 25px;
  width: 400px;
  height: 600px;
  border: 1;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 80px;
  text-align: center;
}

#forgot_content {
  padding: 130px 0;
}

#email_content {
  padding: 90px 0;
}

input[type=submit] {
  background-color: rgba(196,196,196);
  padding:5px 30px; 
  color: black;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, LoginForm, feed {
  font-family: 'Poppins', sans-serif;
}

c {
  font-family: 'Oswald', sans-serif;
}

.new-line {
	border-bottom: 1px solid white;
}	

.vRight {
  border-left: 3px solid rgb(172, 172, 172);
  height: 2000px;
  position: absolute;
  left: 100%;
  margin-left: -3px;
  top: 0;
}

.vLeft {
  border-left: 3px solid rgb(172, 172, 172);
  height: 2000px;
  position: absolute;
  right: 100%;
  margin-right: -3px;
  top: 0;
  
}

.feedOptions {
  border-bottom: 3px solid rgb(172, 172, 172);
  width: 60%;
  position: relative;
  margin-left: 20%;


}

.feed {
  
}

.feedPosts {
  margin-left: 20%;
  width: 60%;
  position:relative;
  
}

.messageFeed {
  margin-left: 20%;
  width: 60%;
  position:relative;
}
.messageInd {
  border: 3px solid rgb(172, 172, 172);
  width: 99.4%;
  height: 125px;
  z-index: initial;
}

.viewMessage {
  position: absolute;
  width: 250px;
  height: 40px;
  top: 20%;
  right: 2.5%;
  background-color: black;
  border: none;
  color: white;
  font-size: 150%;
  cursor: pointer;
}

.viewMessage2 {
  position: absolute;
  width: 1000px;
  height: 40px;
  top: 20%;
  left: 5%;
  right: 2.5%;
  background-color: black;
  border: none;
  color: white;
  font-size: 150%;
}

.messageName {
  position: absolute;
  width: 100%;
  height: 40%;
  top: -180%;
  right: -40%;
  background-color: black;
  border: none;
  color: white;
  font-size: 250%;
  cursor: pointer;

}

.post {
  border: 3px solid rgb(172, 172, 172);
  width: 99.4%;
  height: 250px;
  z-index: initial;
}
.feedSort {
  position:absolute;
  left: 20px;
  background-color: black;
  border: none;
  color: white;
  padding: 8px;
  font-size: 200%;
  cursor: pointer;
}

.messageOptions {
  border-bottom: 3px solid rgb(172, 172, 172);
  width: 64.3%;
  position: relative;
  margin-left: 14.6%;
  background: black;
}

.feedProfile {
  position: relative;
  width: 100px;
  height: 40px;
  left: 45%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-bottom: 20px;
  background-color: black;
  border: none;
  color: white;
  padding: 8px;
  font-size: 200%;
  cursor: pointer;
}

.feedProfile2 {
  position: relative;
  width: 700px;
  height: 40px;
  left: 35%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-bottom: 20px;
  background-color: black;
  border: none;
  color: white;
  padding: 8px;
  font-size: 200%;
}

.feedProfile3 {
  position: relative;
  width: 500px;
  height: 40px;
  left: 44%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-bottom: 20px;
  background-color: black;
  border: none;
  color: white;
  padding: 8px;
  font-size: 100%;
}

.feedProfile4 {
  position: relative;
  width: 500px;
  height: 40px;
  left: 45%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-bottom: 20px;
  background-color: black;
  border: none;
  color: white;
  padding: 8px;
  font-size: 200%;
}

.likeButton {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 2.5%;
  top: 5%;
  background-color: black;
  border: none;
  color: white;
  font-size: 200%;
  cursor: pointer;
}

.likeButton2 {
  position: absolute;
  width: 350px;
  height: 40px;
  left: 45%;
  top: 5%;
  background-color: black;
  border: none;
  color: white;
  font-size: 150%;
  cursor: pointer;
}

.commentButton {
  position: absolute;
  width: 250px;
  height: 40px;

  top: 30%;
  background-color: black;
  border: none;
  color: white;
  font-size: 200%;
  cursor: pointer;
}

.postButton {
  position: absolute;
  width: 250px;
  height: 40px;

  top: 55%;
  background-color: black;
  border: none;
  color: white;
  font-size: 200%;
  cursor: pointer;
}

.feedMessages {
  position:absolute;
  right: 20px;
  background-color: black;
  border: none;
  color: white;
  padding: 8px;
  font-size: 200%;
  cursor: pointer;
}

.chart {
  position: absolute;
  top: 1%;
  left: 30%;
  margin-inline:inherit;
  z-index: -1;
}

.poll_button {
  position: relative;
  background-color: rgb(216, 216, 216);
  border: black 1px solid;
  color: black;
  width: 5%;
  height: 9.5%;
  text-align: center;
  padding: 4px 3px 0 3px;
  font-size: 130%;
  font-weight: 600;
  left: 90%;
  top: 34%;
  margin-left: -2.5%;
  z-index: 1;
  border-radius: 50%;
}
.message-content {
	border-style: solid solid solid solid;
    margin-left: -48.5%;
    margin-right: 39%;
    grid-column: 3/6;
    padding: 1em 2em;
	background: black;
	color: white;

}